h1 {
    text-align: center;
    color: #2a2b8c;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100%;
}

.bg {
    background-image: url("https://farm8.staticflickr.com/7620/27926358671_c4a7d7ca48_k.jpg");

    margin: 0;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle_portrait {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  margin: 0 auto;

  background-image: url("https://farm1.staticflickr.com/921/28179566147_a62f2ae7f3_b.jpg");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 20px solid #151668;
}

#circle_wrap {
    text-align: center;
    margin-top: 60px;
}



.bg_color {
    background-color: #2a2b8c;
}

#h1_other {
    text-align: center;
    /*color: #f7f7ff;*/
    color: #ffffff;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
}

h2 {
    text-align: left;
    /*color: #f7f7ff;*/
    color: #ffffff;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
}

.vid {
    display: block;
    margin-left: auto;
    margin-right: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#vid_travel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

iframe {
    border: 20px solid #151668;
}

table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border: 20px solid #151668;
    width: 100%;
}

td {
    width: 50%;
    height: 50%;
    background-color: #7273db;
    text-align: center;
}

.travel_image {
    width: 540px;
    height: auto;
}

th {
    color: #ffffff;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    background-color: #7273db;
}

#list_nav {
    list-style-type: none;
    color: #2a2b8c;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    font-size: 330%;
}

#ul_nav {
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
}

.space {
    display:inline-block;
    width: 20%;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #151668;
}