
$primary-color: #ffffff;
$secondary-color: #c90016;
$third-color: #ffffff;
/*$font-stack: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;*/
/*$font-stack: 'Audiowide', Arial, Helvetica, sans-serif;*/
$font-stack: 'PT Sans Caption', Arial, Helvetica, sans-serif;
$text-content-font: 'PT Sans Caption', Arial, Helvetica, sans-serif;

strong {
    font-weight: bolder;
}

.my-name {
    font-family: $font-stack;
    color: $secondary-color;
}

%text-content {
    color: $secondary-color;
    font-family: $text-content-font;
    font-size: 150%;
}

p {
    @extend %text-content;
    text-align: left;
}

th {
   @extend %text-content;
   text-align: center;
}

h2 {
    @extend %text-content;
    text-align: center;
}

html, body {
    min-height: 100%;
}

.bg {
    background-image: url("https://farm8.staticflickr.com/7620/27926358671_c4a7d7ca48_k.jpg");

    margin: 0;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle_portrait {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  margin: 0 auto;

  background-image: url("https://farm1.staticflickr.com/921/28179566147_a62f2ae7f3_b.jpg");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 15px solid $secondary-color;
}

#circle_wrap {
    text-align: center;
    margin-top: 60px;
}


.bg_color {
    background-color: $primary-color;
}

.h1_other {
    text-align: center;
    color: $secondary-color;
    font-family: $font-stack;
    font-size: 330%;
}

%vid-shared {
    margin-top: 30px;
    margin-bottom: 30px;
}

.vid {
    @extend %vid-shared;
}

#vid_travel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @extend %vid-shared;
}

iframe {
    border: 10px solid $secondary-color;
}

table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 100%;
}

td {
    width: 50%;
    height: 50%;
    text-align: center;
}

.travel_image {
    width: 100%;
    height: auto;
}

@media (min-width: 481px) {
    .home-nav-element {
        list-style-type: none;
        color: $primary-color;
        font-family: $font-stack;
        font-size: 380%;
    }

    .video-size {
        width: 560px;
        height: 315px;
    }

    .travel-vid-size {
        width: 672px;
        height: 378px;
    }

    .nav-text {
        visibility: hidden;
    }

    %video-text {
        margin-left: 50px;
        text-align: right;
    }
}

@media (max-width: 480px) {

    .home-nav-element {
        list-style-type: none;
        color: $primary-color;
        font-family: $font-stack;
        font-size: 430%;
    }

    .video-size {
        width: 336px;
        height: 189px;
    }

    .travel-vid-size {
        width: 336px;
        height: 189px;
    }

    .alt-navbar-text {
        visibility: hidden;
    }

    %video-text {
        text-align: center;
    }

}

.video-caption {
    @extend %video-text;
    font-size: 100%;
}

.video-title {
    @extend %video-text;
    font-weight: bold;
}

.vertical-center {
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
}

.space {
    display:inline-block;
    width: 20%;
}

a:link, a:visited {
    text-decoration: none;
    color: $third-color;
}

a:hover, a:active {
    text-decoration: none;
    color: $secondary-color;
}


.icon-settings {
    font-size: 65px;
}

.icon_link:hover {
    .icon-settings {
        font-size: 80px;
    }
}

#icon-linkedin {
    color: #1178B3;
}


#icon-github, #icon-insta, #icon-flickr {
    color: #222222;
}

.in-text-link:link, .in-text-link:visited {
    text-decoration: none;
    color: $secondary-color;
}

.in-text-link:hover {
    text-decoration: underline;
    color: $secondary-color;
}
